body {
    margin-top: 40px; /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
    
}
  
  
  /* This box class is purely used for explaining how the bootstrap grid system works. */


  .title {
    font-size: 2.5rem;

  
    position: relative;
    margin: 0;
  }
    .content {
        font-size: 1.5rem;
    }


    .title,
    .role-title,
    .content {
      padding-left: 100px;
      padding-right: 100px;
    }

    iframe {
      display: flex;
      justify-content: center;
      align-items: center;
    
      padding: 20px;
      margin: 20px 0;
      width: 100%;
      max-width: 100%;
    }
    .links {
      font-family: Cal Sans;
      font-size: 1rem;
      display: flex;
      margin: 0 0.5rem;
    }
    
    .content {
      font-size: 1rem;
    }
    .role-title {
      font-size: 1.3rem;
      font-family: "Cal Sans";
      margin: 0 0;
    }


    @media (min-width: 576px) {
      body::before {
        content: "SM";
      }
      .title,
      .role-title,
      .content {
        padding-left: 50px;
        padding-right: 50px;
      }


    }
    
    @media (min-width: 768px) {
      body::before {
        content: "MD";
      }
      .title,
    .role-title,
    .content {
      padding-left: 50px;
      padding-right: 50px;
    }

    iframe {
      padding: 30px;
      margin: 20px 0;
      width: 100%;
      max-width: 100%;
    }

    }
    
    @media (min-width: 992px) {
      body::before {
        content: "LG";
      }
    }
    
    @media (min-width: 1200px) {
      body::before {
        content: "XL";
      }
    }
    
    @media (min-width: 1400px) {
      body::before {
        content: "XXL";
      }
      .title,
      .role-title,
      .content {
        padding-left: 500px;
        padding-right: 500px;
      }
    }