body {
    margin-top: 40px; /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
    
}
  
  
  /* This box class is purely used for explaining how the bootstrap grid system works. */


  .title {
    font-size: 2.5rem;
  }
    .content {
        font-size: 1.5rem;
    }


    .links {
      font-family: Cal Sans;
      font-size: 1rem;
      display: flex;
      margin: 0 0.5rem;
    }
    
    .content {
      font-size: 1rem;
    }
    .role-title {
      font-size: 1.3rem;
      font-family: "Cal Sans";
      margin: 0 0;
    }


    @media (min-width: 576px) {
      body::before {
        content: "SM";
      }
    }
    
    @media (min-width: 768px) {
      body::before {
        content: "MD";
      }
    }
    
    @media (min-width: 992px) {
      body::before {
        content: "LG";
      }
    }
    
    @media (min-width: 1200px) {
      body::before {
        content: "XL";
      }
    }
    
    @media (min-width: 1400px) {
      body::before {
        content: "XXL";
      }
    }