@font-face {
  font-family: Monsieur;
  src: url("../src/assets/fonts/MonsieurLaDoulaise-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PressStart2P;
  src: url("../src/assets/fonts/PressStart2P-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: VT323;
  src: url("../src/assets/fonts/VT323-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-monsieur: Monsieur, "sans-serif";
  --font-press: PressStart2P, "sans-serif";
  --font-vt323: VT323, "sans-serif";
}